<a href="https://colab.research.google.com/github/aahamed-07/challenge-question/blob/main/Challenge_question.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
L = ["Ram", 1, "Shyam", 2, "Aman", 3]
print(L)
L.sort()
print(L)

['Ram', 1, 'Shyam', 2, 'Aman', 3]

TypeError: '<' not supported between instances of 'int' and 'str'

In [3]:
L_strings = ["Ram", "Shyam", "Aman"]
L_integers = [1, 2, 3]

L_strings.sort()
L_integers.sort()

print(L_strings)  # Output: ['Aman', 'Ram', 'Shyam']
print(L_integers)  # Output: [1, 2, 3]

['Aman', 'Ram', 'Shyam']
[1, 2, 3]

In [5]:
L = ["Ram", "Shyam", "Aman"]
L = [str(i) for i in L]

L.sort()
print(L)

#method 2
L1 = []
for i in L:
  try:
    L1.append(int(i))
  except:
    L1.append(i)

print(L1)

['Aman', 'Ram', 'Shyam']
['Aman', 'Ram', 'Shyam']

In [ ]:
import time

t1 = time.time()

for i in range(100000):
  for j in range(100000):
    x=900

t2 = time.time()

print("Total Time", t2-t1)